* {
  box-sizing: border-box;
}

.mainContainer{

}

.topContainer{
  background-color: rgb(0,128,255);
  border-radius: 3px;
  margin: 5px;
}

.midContainer{
  display: block;
  background-color: rgb(14,77,146);
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.bottomContainer{
/*   flex:1; */
  background-color: rgb(0,0,128);
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

.links{
  text-align: left;
  list-style: none;
  margin: auto;
}

img{
  float: left;
  border: solid black 3px;
  border-radius: 3px;
  width: 80px;
  margin: 0 5px 5px 5px;
}

p{
  border: solid black 3px;
  padding: 50px 20px;
  margin: 5px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

a:hover{
  background-color: black;
  color: white;
  border-radius: 3px;
}

a{
  color: black;
  text-decoration: none;
}

h2,h1{
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h2{
  margin:5px;
  font-size: 2em;
}


i:last-child{
  padding-right: 3px;
}

.midRight, .midCenter, .midLeft {
  display: inline-block;
  width:33%;
}

.footer{
  height: 100px;
  width: 100%;
  text-align: center;
}

.copyright{
  position: fixed;
  width: 100%;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}

ul{
  text-align: center;
}
li{
  display: inline;
}

main > p::first-letter{
  text-transform: uppercase;
  color: rgb(0,0,0);
  font-size: 30px; 
}