* {
  box-sizing: border-box; 
  font-family: 'Roboto', sans-serif,"Times New Roman", Times, serif;
}

.topContainer{
  border-radius: 3px;
  margin: 15px;
  background-color: #6987D5;
}

.midContainer{
  display: block;
  background-color: #BDDFFA;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
  margin: 15px;
}

.bottomContainer{
  background-color: #97BAEC;
  border-radius: 3px;
  padding: 10px;
  margin: 15px;
}

.mainContainer{
  margin: 0px 10px;
}

.bio{
  float: left;
  border: solid black 3px;
  border-radius: 3px;
  width: 200px;
  margin: 0 5px 5px 5px;
}

img{
  border-radius: 3px;
  width: 100%;
  margin-bottom: 3px;
}

p{
  padding: 5px 20px;
  margin: 0 auto;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  max-width: 600px;
  font-size: 1em;
  text-align: left; 
}

.project {
  border: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.techUsed {
  text-align: left;
  margin-top: 5px;
}

main{
  text-align: center;
  padding: 10px;
}

a:hover{
  background-color: black;
  color: white;
  border-radius: 3px;
}

a{
  color: black;
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.1em;
  font-family: "Times New Roman"
}

h2,h1{
  font-family: 'Roboto';
  text-transform: uppercase;
  text-align: center;
}

h1{
  font-size: 1.5em;
  padding-top:10px;
}

h2{
  margin:5px;
  font-size: 1.2em;
}


.footer{
  width: 100%;
  text-align: center;
  clear: both;
  position: relative;
  height: 40px;
  margin-top: -10px;
}

.copyright{
  font-size: 0.7em;
  text-align: center;
}

ul{
  text-align: center;
}

nav{
  position: sticky;
  top:0;
  background-color: rgb(255,255,255);
  border-radius: 3px;
  font-size: 0;
}

li{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  text-align: center;
  padding: 3px;
}

main p::first-letter {
  text-transform: uppercase;
  color: rgb(0,0,0);
  font-size: 30px; 
}

main p{
  margin: 5% 10%;
}

nav li{
  width:100%;
  font-size: 1.2em;
  padding: 3px;
  margin: 5px 0;
}

nav a{
  text-transform: uppercase;
  padding: 5px 0;
  margin: 3px 0;
}

nav a:first-child{
  background-color: #6987D5;
}

nav a:nth-child(2) {
  background-color: #BDDFFA;
}

nav a:nth-child(3) {
  background-color: #97BAEC;
}

.navigation{
  background-color: white;
}

.resume{
  font-weight: bold;
};

nav li{
  width:33%;
};

.row {
  max-width: 1000px;
  padding-left: 2px;
  padding-right: 2px;
  margin: 0 auto;
  border-radius: 3px;
}


.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after{
  clear: both;
}

.col-6{
  float:left;
  width:100%;
}

.col-4{
  width: 100%;
  display: inline-block;
  padding: 3px;
  vertical-align: top;
}

main > p{
  padding-right: 5px;
  padding-left: 5px;
}

ul > li{
  display:block;
  width:100%;
}

.fa-envelope-square,.fa-github,.fa-linkedin{
  padding-right: 3px;
}

@media only screen and (min-width: 640px){
  .col-6 {
    width: 50%;
  }

  .col-4{
    width:50%;
  }

   nav li{
   width:32%;
   padding: 5px;
   }

  ul > li{
  display:inline-block;
  width:33%;
  }
}
